ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C4C4C4;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #94CCFF;
}

.active {
  background-color: #FEA600;
}
.PEPEGA{
  text-align: center;
}
.Inicio{
  background-color: #A3CAF0;
}
.Historia{
  background-color: black
}
.Letra{
  color: white;
}